<div class="container" style="background-color: white; margin-top: 20px;">
    <div class="container" style="padding: 5px;">
        <p>Juego Personalizado Curisigrama</p>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Cantidad de filas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="number" class="form-select" id="inputGroupSelect01">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Cantidad de columnas</label>
            <input type="number" class="form-select" id="inputGroupSelect01">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
        <h5>Vista Previa</h5>
    </div>
</div>