.disco {
    background-color: rgb(84, 84, 163);
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
}