<div style="margin: 1%;">
    <div class="row contenedor-principal">
        <div class="col bordes-juegos-right ">
            <div class="row d-flex justify-content-center align-items-center" style="height: 700px;">
                <img [src]="'http://localhost:5000/api/juego/imagen?juego='+juego" class="imagenJuego" alt="Imagen Juego">
            </div>
            <div class="row bordes-juegos-top d-flex justify-content-center align-items-center" style="height: 100px;">
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <button class="btn button-play">Play</button>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <input class="input-code form-control" type="number" name="codigo" id="codigo">
                </div>
            </div>
        </div>
        <div class="col bordes-juegos-right">
            <div class="row d-flex justify-content-center align-items-center" style="height: 700px;">
                {{desc}}
            </div>
            <div class="row bordes-juegos-top" style="height: 100px;">
                <button type="button" (click)="onMeGusta(true)" class="col-2 btn btn-gusta">
                    <div *ngIf="likeUsuario !== null && likeUsuario">Quitar </div>Me Gusta
                </button>
                <button type="button" (click)="onMeGusta(false)" class="col-2 btn btn-gusta">
                    <div *ngIf="likeUsuario !== null && !likeUsuario">Quitar </div>
                    No Me Gusta
                </button>
                <div class="col-4 bordes-juegos-left d-flex align-items-center">
                    <input name="comentarios" placeholder="Deja un comentario" id="comentarios" cols="30" type="text"
                        class="text-comentario" [(ngModel)]="comentarioUsuario" />
                    <button class="btn btn-enviar" (click)="guardarComentario()">Publicar</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
                Cantidad de Me Gusta y No Me Gusta
            </div>
            <div class="row bordes-juegos-top d-flex justify-content-center align-items-center" style="height: 700px;">
                <div class="contenedorComentarios">
                    Comentarios<br>

                    <div *ngIf="comentarios.length === 0">Aun no hay comentarios, se el primero el publicar uno!</div>
                    <ng-template ngFor let-comentario [ngForOf]="comentarios">
                        <div class="card">
                            <div class="container">
                                <h4><b>{{comentario.usuario}}</b></h4>
                                <p>{{comentario.comentario}}</p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>