.contenedor{
    margin-top: 20px;
    padding: 20px;
    border-radius: 7px;
    border: 3px solid #e0f04f;
    background-color: #22E685;
}
.form-select{
    background-color: #dbba2e;
    border: 3px solid #69D957;
}
.input-group-text{
    background-color: #e0f04f;
    border-width: 3px 0px 3px 3px;
    border-style: solid;
    border-color: #69D957;
}
.btn-crear{
    background-color: #e0f04f;
    border: 3px solid #69D957;
}

.form-crear{
    max-width: 20%;
}
.previa{
    display: flex;
    overflow: scroll;
}

.torre{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(187, 236, 238);
    margin: 5px;
}
.disco{
    background-color: rgb(84, 84, 163);
    margin:2.5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    height: 27px;
}