<div class="container">
    <div class="container cont p-2 m-2">
        <h1>Estadisticas del Ahorcado</h1>
        <h3>Ultimas partidas jugadas</h3>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Punteo</th>
                        <th scope="col">Palabras Encontradas</th>
                        <th scope="col">Palabras Falladas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of partidasJugadas; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{item.codigo}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.data.punteo}}</td>
                        <td>{{item.data.palabrasEncontradas}}</td>
                        <td>{{item.data.palabrasFalladas}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <h3> Estadisticas de partidas </h3>
        <h3>Punteo Total: <span class="fw-bold"> {{punteoTotal}} </span></h3>
        <div class="chartPie">
            <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions">
            </canvas>
        </div>
    
        <button class="btn btn-warning" (click)="regresar()"> Regresar</button>
    </div>
</div>