.contenedor {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #22e684da;
    border-radius: 7px;
    border: 3px solid #EFDB00;
}

.contenedor2 {
    margin-bottom: 25px;
}

.titulo-pagina {
    font-size: 50px;
}

.card {
    border: 3px solid #2C6D55;
    background-color: #007da7b2;
}

.card-text {
    color: #000000a6;
}

.btn-outline-secondary {
    border-color: #22e684;
    color: #22e684;
}

.btn-outline-secondary:hover {
    border-color: #EFDB00;
    color: #EFDB00;
    background-color: transparent;
}

.overflow-visible {
    white-space: initial;
}

.overflow-clip {
    text-overflow: clip;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.overflow-string {
    /* Not supported in most browsers,
       see the 'Browser compatibility' section below */
    text-overflow: " [..]";
}
.p-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }