<app-game-page>
  <h1>Crucigrama</h1>
  <div class="reloj">
    Reloj: {{(minutos<10?'0'+minutos:minutos)}}:{{(segundos<10?'0'+segundos:segundos)}} </div>
      <div class="row">
        <div class="col">
          <div class="contenedor-tabla">
            <table *ngIf="data !== undefined">
              <tr *ngFor="let item of data.matriz">
                <td *ngFor="let item of item">
                  <app-play-cuadro [cuadro]="item" (startEvent)="receiveMenssge($event)"
                    (cambioValor)="cambioDeValor($event)"></app-play-cuadro>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col">
          <div class="row" *ngIf="data !== undefined">
            <h2>Horizontales</h2>
            <ul>
              <li *ngFor="let elemento of data.pistasH; let i = index">
                {{ elemento.numero }} {{elemento.texto}}
              </li>
            </ul>
          </div>
          <div class="row" *ngIf="data !== undefined">
            <h2>Verticales</h2>
            <ul>
              <li *ngFor="let elemento of data.pistasV;let i = index">
                {{ elemento.numero }} {{elemento.texto}}
              </li>
            </ul>
          </div>
        </div>
      </div>
</app-game-page>