<header>
    <h1>Ahorcado</h1>
</header>
<main>
    <img id="imagen" [src]="srcImagen" alt="Ahorcado" />
    <div>
        <p id="palabra_a_adivinar">
        </p>
        <button (click)="verPalabras()" [disabled]="botonDesabilitado">Obtener palabra</button>
            
        <p id="resultado"></p>

        <div id="letras">
            <button (click)="clickTecla('a', $event)">a</button>
            <button (click)="clickTecla('b', $event)">b</button>
            <button (click)="clickTecla('c', $event)">c</button>
            <button (click)="clickTecla('d', $event)">d</button>
            <button (click)="clickTecla('e', $event)">e</button>
            <button (click)="clickTecla('f', $event)">f</button>
            <button (click)="clickTecla('g', $event)">g</button>
            <button (click)="clickTecla('h', $event)">h</button>
            <button (click)="clickTecla('i', $event)">i</button>
            <button (click)="clickTecla('j', $event)">j</button>
            <button (click)="clickTecla('k', $event)">k</button>
            <button (click)="clickTecla('l', $event)">l</button>
            <button (click)="clickTecla('m', $event)">m</button>
            <button (click)="clickTecla('n', $event)">n</button>
            <button (click)="clickTecla('ñ', $event)">ñ</button>
            <button (click)="clickTecla('o', $event)">o</button>
            <button (click)="clickTecla('p', $event)">p</button>
            <button (click)="clickTecla('q', $event)">q</button>
            <button (click)="clickTecla('r', $event)">r</button>
            <button (click)="clickTecla('s', $event)">s</button>
            <button (click)="clickTecla('t', $event)">t</button>
            <button (click)="clickTecla('u', $event)">u</button>
            <button (click)="clickTecla('v', $event)">v</button>
            <button (click)="clickTecla('w', $event)">w</button>
            <button (click)="clickTecla('x', $event)">x</button>
            <button (click)="clickTecla('y', $event)">y</button>
            <button (click)="clickTecla('z', $event)">z</button>
        </div>
    </div>
</main>