.container {
    background-color: #007da7d0;
    border-radius: 1rem;
    margin: 5px;
    width: 500px;
    text-align: center;
}

.containerpadre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

button{
    width: 100%;
    background-color: #EFDB00;
    color: #000000;
}

button:hover{
    background-color: #22e684da;
}

.perfil-user{
    font-size: 40px;
    font-style: normal;
    color: #FFFFFF;
}