<div class="containerpadre">
    <div class="container">
        <p class="perfil-user">Perfil de {{usuario.username}}</p>
        <div class="row m-3">
            <div class="col">
                <button class="btn btn-success" (click)="modificarInformacion()"> Modificar Informacion </button>
            </div>
        </div>
        <div class="row m-3">
            <div class="col">
                <button class="btn btn-success" (click)="verEstadisticas()"> Estadisticas </button>
            </div>
        </div>
    </div>
</div>