<div class="container">
    <h1>Estadisticas</h1>
    <h2>Partidas Totales jugadas: <span class="fw-bold"> {{partidasGenerales}}</span></h2>
    <h3>Partidas realizadas de cada juego</h3>
    <div class="chartDona">
        <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
        </canvas>
    </div>
    <h1>Estadisticas individuales</h1>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-warning">
                Hanoi
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-warning">
                Ahorcado
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-warning">
                Crucigrama
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-warning">
                Sopa de letras
            </button>
        </div>
    </div>
</div>