<app-game-page>
    <div style="background-color: white; margin-top: -3%; width: 1100px; height: 475px; overflow-y: scroll;">
        <h1>Sopa de Letras</h1>
        <div style="display: grid; grid-template-columns: auto auto auto;">
            <div>
                <table style="background-color: #22E685;">
                    <tr *ngFor="let fila of tablero">
                        <td *ngFor="let dato of fila">
                            <button class="btn" style="width: 35px; height: 30px;"
                                [style.background]="dato.includes(' ')? 'yellow': 'green'">{{dato}}</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <input [(ngModel)]="palabra" />
                <button class="btn btn-dark" (click)="onIngresarPalabra()">Ingresar Palabra</button>
                <div style="background-color:#22E685">Palabras Encontradas: {{palabrasEncontradas.length}} de
                    {{cantidadPalabras}}
                </div>
            </div>
        </div>
    </div>
</app-game-page>